@import "tailwindcss";

@theme {
  --font-clash: var(--font-clash-display), sans-serif;
  --font-cabinet-grotesk: var(--font-cabinet-grotesk), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #eeeeee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cabinet-grotesk), sans-serif;

  scrollbar-width: none; 
  -ms-overflow-style: none;
}


body::-webkit-scrollbar {
  display: none;
}


::selection {
  background-color: #84C87F;
  color: #08414a;
}
::-moz-selection {
  background-color: #84C87F;
  color: #08414a;
}


@media (pointer: fine) {
  * {
    cursor: none !important;
  }
}
